<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131033566-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-131033566-1');
    </script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css">
    <link href="http://suneung.xyz/lumiere.css" rel="stylesheet" type="text/css" />
    <title>Lumiere 2020</title>
</head>
<body>
    <div class="content_box" style="margin-top: 100px;">
        <h1>Lumiere 2020</h1>
        <h2>Estimated by 고속성장분석기</h2>
        <div class="caution_box">
            <strong>서버 내부 오류 발생</strong>
            <p>
                알 수 없는 서버 내부 오류입니다.<br/>
                성적을 정확하게 입력하였음에도 불구하고 해당 오류가 발생한다면, 관리자에게 알려주세요.
            </p>
        </div>
        <div class="button_box">
            <a href="http://suneung.xyz/input.htm"><div class="button">돌아가기</div></a>
        </div>
    </div>
</body>
</html>