* {
    font-family: 'NanumBarunGothic', sans-serif;
    font-style: normal;
    font-weight: 300;
}

body{
    background-image: url(./img/background.jpg);
    background-attachment: fixed;
}
a{
    text-decoration: none;
}

.content_box{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    box-sizing: border-box;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 3px #232323;
}

.content_box h1{
    margin-top: 20px;
    font-size: 48px;
}
.content_box h2{
    font-size: 14px;
    margin-top: -30px;
    margin-left: 3px;
    margin-bottom: 40px;
}
.content_box p{
    margin:12px 0px 12px 0px;
    font-size: 18px;
    line-height: 24px;
}
.content_box strong{
    color: #0d9acf;
    font-weight: 700;
}
.caution_box p{
    margin:8px 0px 8px 0px;
    font-size: 14px;
    line-height: 18px;
}

.button_box{
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;

    text-align: center;
}
.button_box .button{
    height: 50px;
    margin: 0 5px;
    padding: 0 20px;

    background-color: #0d9acf;
    border-radius: 5px;

    line-height: 50px;
    text-align: center;

    color: #fff;
    font-weight: 400;
    font-size: 18px;

    display: inline-block;
    cursor: pointer;
}
.button_box .button:hover{
    background-color: #46aed6;
}


/* apply */
table.score{
    width: 100%;
    border: 1px solid #0d9acf;
    border-collapse: collapse;
    text-align: center;
    font-size: 18px;
}
table.score tbody tr:nth-child(1){
    height: 35px;
}
table.score tbody tr:nth-child(2){
    height: 35px;
}
table.score th{
    background-color: #0d9acf;
    color: #fff;
    font-weight: 300;
    box-sizing: border-box;
}
table.score tr:nth-child(1) th{
    padding-top: 7px;
}
table.score tr:nth-child(2) th{
    padding-bottom: 7px;
}
table.score tr{
    height: 64px;
}
table.score tbody tr:nth-child(odd) td {
    background-color: #f5f5f5;
}
table.score th, td{
    border: 0;
}

.input_score{
    width: 60px;
    height: 30px;
    text-align: center;
}
.content_box select{
    padding: 4px;
    border: 1px solid #888;
}

.school_box{
    height: 480px;
    box-sizing: border-box;
}
.school_box div{
    float:left;
    padding: 10px;
}
.school_box div select{
    width: 150px;
    height: 180px;
    margin-bottom: 6px;
}
.list_button{
    padding: 7px;
    border: 0;
    border-radius: 3px;
    background-color: #8fd3ed;
    cursor: pointer;
}

#school_preset input{
    padding: 8px;
    background-color: #666;
    margin: 3px 0px;
    border: 0;
    border-radius: 3px;

    color: #fff;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

#school_container {
    width: 565px;
    height: 360px;
    box-sizing: border-box;
}
#school_container input{
    padding: 8px;
    background-color: #232323;
    margin: 3px 0px;
    border: 0;
    border-radius: 3px;

    color: #fff;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.school_box p{
    margin:0 0 5px 3px;
    padding: 5px;
    background-color: #eee;
    display: inline-block;
}
.school_box #school_preset p{
    border-bottom: 3px solid #666;
}
.school_box #school_container p{
    border-bottom: 3px solid #232323;
}

span.p_red, span.p_yellow, span.p_green, span.p_light_green{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
}
span.p_red{
    background-color: #a33842 !important;
}
span.p_yellow{
    background-color: #ffd200 !important;
}
span.p_green{
    background-color: #008554 !important;
}
span.p_light_green{
    background-color: #44d7a1 !important;
}

.footer_comment{
    color: #666;
    font-size: 12px;
    text-align: center;
    margin: 5px;
}

.calc_input{
    width: 60px;
    height: 30px;
    margin-left: 20px;
    text-align: center;
}

div.pTable{
    position: relative;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 100px;
}
div.pTable div{
    position: absolute;
    height: 30px;
    float: left;
    color: #fff;
    font-size: 12px;
    box-sizing: border-box;
    padding: 8px;
}
div.pTable div.b1{
    width: 40%;
    background-color: #008554;
    z-index: 1;
}
div.pTable div.b2{
    width: 30%;
    left: 20%;
    margin-top: -10px;
    background-color: #ffd200;
    z-index: 3;
    opacity: 0.5;
}
div.pTable div.b3{
    width: 60%;
    right: 0px;
    background-color: #777;
    z-index: 2;
    text-align: right;
}
div.pTable div.b_rank{
    margin-top: 33px;
    padding: 0;
    color: #000;
}
div.pTable div.b_p{
    margin-top: -25px;
    color: #888;
    background-color: #fff;
    height: 12px;
}
div.pTable #b_rank_3{
    right: 0px;
}
div.pTable #b_rank_4{
    z-index: 10;
}

.rank_box p{
    margin: 6px 0px 6px 0px;
}
span.rank{
    color: #0d9acf;
    font-weight: 600;
}
p.gray_comment{
    color: #666;
    font-size: 14px;
}
